.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}





html {
    position: relative;
    /*for sticky footer */
    min-height: 100%;
    /*for sticky footer */
    min-width: 100%;
}
.main {
/*     margin-top: 78px; */
    margin-bottom: 78px;
}

body {
/*     background: url("./images/satinweave.png"); */

/*     margin-bottom: 40px; */
    /*for sticky footer */
    color: #212121;
}


/* Fonts */

.h-font {
    font-family: 'EB Garamond', serif;
}
