.grid-home-bottom {
    display: grid;
    grid-template-columns: 960px;
    grid-template-rows: auto auto auto;
    grid-gap: 5px 1px;
    grid-template-columns: repeat(auto-fill, minmax(4, 1fr));
    object-fit: cover;
    margin: auto;

}

.dl-container {
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 20px;
}