.navbar {
    background-color: #5460B1;
  }
  
  .navbar a{
    float: left;
    font-size: 20px;
    font-weight: 100px;
    color:#FEDC6F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  .navbar a#logo {
    float: left;
    font-size: 16px;
    color: #FEDC6F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Monoton', cursive;
    font-size: 30px;
  
  }
  .navbar a#nav-left {
    float: left;
    color:#E45443;
  }
  .navbar.right-nav a#img{
    height:10px;
    
  }
.navbar input[type=text] {
    float: left;
    padding: 10px;
    border: none;
    margin-top: 3px;
    font-size: 17px;
    width: 300px;
    background-color: white;
    color: #5460B1;
    border-radius: 40px;
    text-align: center;
  }