.sideBar {
    background-color: #4A48A1;
    border: 20px outset #5460B1;
    /* border-radius: 50%; */
    height: 500px;
    box-shadow: 0 6px 9px black, 0 3px 6px orange;
}

.sideBarIcons {
    height: 75px;
    width: 75px;
    margin: auto;
    margin-bottom: 100px;
}