/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  float: left; */
  /* box-sizing: border-box;
  font-family: Helvetica ,'Roboto',Arial;
  font-weight: 300;
  letter-spacing: .5px;
  margin: 0;
  padding: 0;
  text-decoration-line: none; */

/* .modal-main {
  position:fixed;
  background-image: linear-gradient(-90deg, #C1C8E4, #84CEEB);  
  height: 100%;
  height:fit-content;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  border-color: #5460B1;
  border-width: 5px;
} */ */

section.modal-main{
}
div.clearfix{
  padding: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #5460B1;
  font-family: 'Fugaz One', cursive;
  border-bottom: 1px solid #5460B1;
  border-radius: 50px;
  border-top-right-radius: 100px 90px;
  font-family: 'Fugaz One', cursive;
  color: #5460B1;
  font-size: 20px;

}

p {
width:auto;
padding: 1px;
margin: 1px;
display: block;

}

div {
width:auto;
padding: 1px;
margin: 1px;
display: block;
}

img#searchIcon {
  width: 20px;
  height: 20px;
  padding:0px;
}
.display-block {
  display: block;
  float: left;
}

.display-none {
  display: none;
}

#open {
  float: left;
  position: sticky;
  height:40px;
  /* padding-bottom:25px; */
  font-size: 17px;
  text-align: center;
  background-color: rgb(231, 230, 230); 
  border: 2px outset white;
  /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 1px 0 #bbb, 0 1px 0 #b9b9b9, 0 1px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); */
  color: white;
  border-radius: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  justify-content: center;
  font-family: 'Fugaz One', cursive;
  background-color: #5460B1;
  border-top-right-radius: 100px 50px;
  background-clip: padding-box; 
  color: white;
  width: 190px;
  border-top-right-radius: 100px 90px;

  
}

button#close {
  border-radius: 50px;
  font-family: 'Fugaz One', cursive;
  color: #5460B1;
  font-size: 20px;
  cursor: pointer;
  background-color:white; 
  border: 4px outset #5460B1;
  float: right;

}

li {
  font-weight: 700;
  font-size: 14px;
  display: block;
  padding: 5px 0;  
}

input#search-bar { 
  position: center;
  width:100%;
  width: 500px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  background-color: #5460B1; 
  border: 1px solid #5460B1;
  border-radius: 50px;
  font-family: 'Fugaz One', cursive;
  color: #5460B1;
  font-size: 20px;
  cursor: pointer;
  background-color:white; 
  border: 4px outset #5460B1;
  border-top-right-radius: 100px 90px;



    /* border: 9px outset white; */
}

.modal-main {
  animation: fadeIn 0.5s;
}

.modal-main{
  /* width: fit-content; */
}
/* .ReactModal__Content--after-open{
  position: static;
  padding: 0px;
  margin: 0px;
  width: 20px;
} */