
html, body {
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}

.ks-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0px;
    margin: 10px;
}

.ks-container-icons {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0px;
    margin: 10px;
}


/*Colors*/
.color-1-red {
    background-color: #E45443;
}
  
.color-2-yellow {
  background-color: #FEDC6F;
}

.color-3-blue {
  background-color: #5460B1;
}

.gradient-style-1 {
    background-image: linear-gradient(to bottom, #fffded, #5460B1);
}


/*
the-hidden-leaf-village id is a reference to Naruto.
Its just used to hide the job form using display: none; 
Sorry for trolling, you should probably change this id but its really awesome. 
*/
#the-hidden-leaf-village {
    display: none;
}
