
html, body {
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}

.ks-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0px;
    margin: 10px;
}

.ks-container-icons {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0px;
    margin: 10px;
}


/*Colors*/
.color-1-red {
    background-color: #E45443;
}
  
.color-2-yellow {
  background-color: #FEDC6F;
}

.color-3-blue {
  background-color: #5460B1;
}

.gradient-style-1 {
    background-image: linear-gradient(to bottom, #fffded, #5460B1);
}

/*
the-hidden-leaf-village id is a reference to Naruto.
Its just used to hide the job form using display: none; 
Sorry for trolling, you should probably change this id but its really awesome. 
*/
#the-hidden-leaf-village {
    display: none;
}


/*List Of Google Fonts*/
#font-list {
    /*SignIn Font*/
    font-family: 'Fugaz One', cursive;
    /*Logo Font*/
    font-family: 'Monoton', cursive;
    /*NavBar Link Font*/
    font-family: 'Montserrat Alternates', sans-serif;
    /*Look For this Font's Location Later 9/26/19*/
    font-family: 'EB Garamond', serif;
    
}

/*Form Styles*/
/*========================*/
.signin-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}
.dl-form-header {
    font-family: 'Fugaz One', cursive;
    background-color: #5460B1;
    border-right: 10px solid #c9c9c9 ;
    border-top-right-radius: 100px 50px;
    background-clip: padding-box; 
    color: white;
    width: 160px;
    height: fit-content;
    padding-top: 30px;
    margin-top: 30px;
    position: relative;
}

.signin-input {
    width: 500px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 32px;
    color: black;
    border: 3px solid #5460B1;
    border-radius: 50px;
}

.dl-form-button {
    position:relative; 
    top: -5px;  
    margin: 0px 10px; 
    padding: 10px 28px;
    background-color: #5460B1; 
    border: 1px solid #5460B1;
    border-radius: 50px;
    font-family: 'Fugaz One', cursive;
    color: white;
    font-size: 20px;
    cursor: pointer; 
}

.dl-form-button:hover {
    background-color: white; 
    border: 3px solid #5460B1;
    color: #5460B1;
}

.form-label-style {
    display: flex;
    padding-left: 20px;
    font-family: 'Fugaz One', cursive;
    background-color: #5460B1;
    border-top-right-radius: 100px 50px;
    background-clip: padding-box; 
    color: white;
    width: 190px;
}

.sign-up-input-styles {
    height: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 32px;
    color: black;
    border: 3px solid #5460B1;
    /* border-radius: 10px;
    font-size: 15px; */
}

.sign-up-input-styles-statement {
    /* width: 500px; */
    height: 100px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: black;
    border: 3px solid #5460B1;
    border-radius: 10px;
    
    
}


/*Checkbox Styles*/
.checkbox-holder {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.admin-checkbox-style {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-holder:hover .admin-checkbox ~ .admin-checkbox-style {
    background-color: #c9c9c9;
}

.checkbox-holder input:checked ~ .admin-checkbox-style {
    background-color: #5460B1;
}

.admin-checkbox-style:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-holder input:checked ~ .admin-checkbox-style:after {
    display: block;
}

.checkbox-holder .admin-checkbox-style:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

button.btn-primary{
    background-color: #5460B1; 
    border: 1px solid #5460B1;
    border-radius: 100px;
    font-family: 'Fugaz One', cursive;
    color: #5460B1;
    font-size: 20px;
    cursor: pointer;
    background-color:white; 
    border: 4px outset #5460B1;
}

