
.hire-list-container {
    width: 500px;
    text-align: center;
}

.hire-list-style {
    font-size: 25px;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    
}

.hire-link {
    color: black;
    cursor: pointer;
}

.hire-link:hover {
    text-decoration: none;
    color: white;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5460B1;
}

.hire-list-block {
    display: inline-block;

    margin: 10px;
}

.hire-list-title {
    border-left: 15px double #5460B1;
    border-bottom: 2px solid #c9c9c9;
    border-radius: 50%;
    
}

.hire-button {
    border-radius: 10%;
    border: 1px solid black;
    background: #5460B1;
    color: white;
    cursor: pointer;
}
.hire-button:hover {
    background: white;
    color: #5460B1;
    cursor: pointer;
}
.hire-button:active {
    background: white;
    color: orange;
    cursor: pointer;
}

.hire-remove {
    border-radius: 10%;
    border: 1px solid black;
    width: 50px;
    color: white;
    background: #5460B1;
    text-align: center;
    cursor: pointer;
}
.hire-remove:hover {
    background: white;
    color: #5460B1;
    cursor: pointer;
}
.hire-remove:active {
    background: white;
    color: orange;
    cursor: pointer;
}
