/*Navigation Bar*/

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(88, 88, 88);
}
/* 
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    font-size: 22px;
    transition: .5s ease;
    color: rgb(77, 77, 77);
} */

.ks-nav {
    font-size: 1.7rem;

    padding: 2px 0px 2px 0px;
    
}
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}
.nav-side {
        border-right: 1px solid rgb(143, 143, 143);
        margin-right: 5px;
}
.nav-nav-side {
/*         border-right: 1px solid rgb(143, 143, 143); */
}
.nav-nav-side:last-child {
    border: none;
}
.nav-link {
    padding: 0;
}
.navbar {
    overflow: hidden;
    padding: 0px 10px;
    height: 60px;
/*     position: fixed; */
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 1;
/*     border-bottom: 1px solid rgb(143, 143, 143); */
  background-color: rgba(253, 253, 253, 0.822);
/*     background: transparent; */

};
/* #hover-nav{
  background-color: white;
} */
.navbar:hover {
  background-color: white;
}

.nav-nav-side:focus, .nav-nav-side:hover {
    transform: scale(1.1);
    font-size: 1.9rem;
    transition: .5s ease;
    color: rgb(77, 77, 77);

}